body{
    background-color: white;
    color: black;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    
}
.container{

    display: grid;
    grid-template-columns: auto auto;
}
nav{
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #0b1116;
    ;
    position: sticky;
    top: 0;
    z-index: 10;
}
.nav_left .menu-icon{
    width: 22px;
    margin-right: 25px;
    height: auto;
}
.nav_left .logo{
    width: 40px;
    height: auto;
}
.nav_right img{
    width: 30px;
    height: auto;
    margin-right: 25px;
}
.nav_right .user-icon{
    width: 50px;
    border-radius: 50%;
    margin-right: 0;
}
.nav_middle .search-box{
    border: 1px solid #ccc;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;
}
.nav_middle .search-box input{
    width: 400px;
    border: 0;
    outline: 0;
    background: transparent;
}
.nav_middle .search-box img{
    width: 15px;
}

.profile{
    margin-left: 30px;
}
.profile-content {
    width: 300px;
    height: 400px;
    
   
}

.profile-content .profile img{
     width: 200px;
     height: 200px;
     border-radius: 50%;

     
    
}
.profile-content .profile button{
    width: 90px;
    height: 40px;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
}
.profile-content .follow{
    width: 300px;
    justify-content: space-between;
    display: grid;
    padding: 30px;
    margin-top: 10px;
    grid-template-columns: repeat(3,17px);

}
.follow.num{
    display: flex;
    text-align: center;
}
.follow.vertical-line{
    border-left: 3px solid white;
    height: 50px;
}

.vid-content h3{
    
    text-align: center;

}
.video-content {

    align-content: space-between;
    grid-auto-rows: auto auto;

    
    position: absolute;
    width: 876px;
    height: 894px;
    left: 803px;
    top: 174px;

background: #381E1E;
border-radius: 40px;
}
.list-content{
    
    display: grid;
    grid-template-columns: repeat(2,4fr);
    gap: 3px;
    
    background-color: white;
    width: 600px;
    height:400px;
    overflow-x:hidden;
    overflow-y:auto;
    padding: 20px;
    position:fixed;
    
}








.vid img{
    height: 75px;
    width: 60%;
    border-radius: 4px;    
}
.vid.vid-info{
    color: black;
}
