*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #5a5a5a;
}
img{
    cursor: pointer;
}
.flex-div{
    display: flex;
    align-items: center;
}
.fa{
margin-right: 20px;
color: white;
}

nav{
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #0b1116;
    ;
    position: sticky;
    top: 0;
    z-index: 10;
}
.nav_left .menu-icon{
    width: 22px;
    margin-right: 25px;
    height: auto;
}
.nav_left .logo{
    width: 40px;
    height: auto;
}
.nav_right img{
    width: 30px;
    height: auto;
    margin-right: 25px;
}
.nav_right .user-icon{
    width: 50px;
    border-radius: 50%;
    margin-right: 0;
}
.nav_middle .search-box{
    border: 1px solid #ccc;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;
}
.nav_middle .search-box input{
    width: 400px;
    border: 0;
    outline: 0;
    background: transparent;
}
.nav_middle .search-box img{
    width: 15px;
}
/* side-bar */
.sidebar{
    background-color: #0b1116;
    width: 15%;
    height: 100vh;
    position: fixed;
    top: 0;
    padding-left: 2%;
    padding-top: 80px;
}
.small-sidebar{
    width: 5%;
}
.small-sidebar a p{
    display: none;
}
.small-sidebar h3{
    display: none;
}
.shortcut-links a img{
    width: 20px;
    height: auto;
    margin-right: 20px;
}
.shortcut-links a{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;

}
.sidebar hr{
    border: 0;
    height: 1px;
    background:#130303;
    width: 85%;
}
.subscribed-list h3{
    font-size: 13px;
    margin: 20px 0;
    color: #5a5a5a;
}
.subscribed-list a{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
}
.subscribed-list a img{
    width: 25px;
    border-radius: 50%;
    margin-right: 20px;
}
/* main  */
.container{
    background-color: #130303;
    padding-left: 17%;
    padding-right: 2%;
    padding-top: 20px;
    padding-bottom: 20px;


}
.large-container{
    padding-left: 7%;
}
.list-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-column-gap:16px;
    grid-row-gap: 30px;
    margin-top: 15px;

}
.vidlist .thumbnail{
    width: 100%;
    border-radius: 5px;

}
.vidlist .flex-div{
    align-items: flex-start;
    margin-top: 7px;
}
.vidlist .flex-div img{
    width: 35px;
    margin-right: 10px;
    border-radius: 50%;
}
@media screen and (max-width: 650px) {
    .sidebar{
        width: 3opx;
    }
    nav{
        
        height: 20px;
    }
    .nav_right{
        width
    }
    .nav_right .user-icon{
        width: 20px;
        border-radius: 50%;
        margin-right: 0;
    }
    .t{
        display: none;
    }
    .subscribed-list{
        display: none;
    }
    .nav_left .logo{
        width: 20px;
        height: 20px;
        margin-top: 5px;
    }
    .flex-div{
        width: 400px;
        height: 30px;
    }
    .tex{
        display: none;
    }
    .nav_middle .search-box{
        width:200px ;
        height: 10px;
    }
    .shortcut-links{
        width: 50px;
    }
    .subscribed-list{
        width: 50px;
    }
}
