.body{
    background-color: #130303;
    height: 95vh;
    flex-direction: column;
}
.header{
    padding: 1em 0 1em 0;
    
}
.content{
    display: flex;
    flex: 1;
}
.like{
    margin-left: 10px;
    border-radius: 10px;
}
.like:hover{
    background-color: aqua;
    color: #1E1E1E;
}
.like:focus{
    background-color:black;
    color: white;
    box-shadow: 2px 2px 5px #fc894d;
    
}

main{
    margin-left: 10px;
    padding: 3em 0 3em 0;
    flex: 5 5 150px;
}
.right{
    padding: 3em 0 3em 0;
    flex: 1 1 100px;
}

.image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
    float: left;
}
.images{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 30px;
    float: left;
}
nav{
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #0b1116;
    ;
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav_left .logo{
    width: 40px;
    height: auto;
}
.nav_right img{
    width: 30px;
    height: auto;
    margin-right: 25px;
}
.flex-div{
    display: flex;
    align-items: center;
}
.fa{
margin-right: 20px;
color: black;

}
header{
    background-color: #0b1116;
}
.nav_right .user-icon{
    width: 50px;
    border-radius: 50%;
    margin-right: 0;
}
.nav_middle .search-box{
    border: 1px solid #ccc;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;
}
.nav_middle .search-box input{
    width: 400px;
    border: 0;
    outline: 0;
    background: transparent;
}
.nav_middle .search-box img{
    width: 15px;
}
  .video{
    height: 450px;
    width: 900;
  }
.button{
    background-color: azure;
    color: black;
    border-radius: 10px;
    margin-left: 100px;
    padding: 7px 5px 7px 5px;

}
.button:hover{
    background-color: aqua;
    color:#1E1E1E ;
}
.button:active{
    background-color:black;
    color: white;
    
}
.comment{
    
    border-color: azure;
    color: azure;
    width: 300px;
    height: 500px;
    border-radius: 10px;
 background-color: rgb(30, 30, 30);
 padding: 50px 50px 50px 50px;
 margin-right: 50px;
}
.videoDetail{
    color: green ;
}
.videos{
    width: 200px;
    height: 104px;
    margin-left: 10px;
}
.bottom{
    background-color: #0b1116;
    display: flex;
   
}
.imagess{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px; 
    float: left;
}
.flex{
    display: flex;
    align-items: center;
    margin-left: 25px;
}
@media screen and (max-width: 650px) {
    .header{
        width: 400px;
        height: 20px;
    }
    .input{
        width: 300px;
        Height: 30px;
    }
    .video{ 
  height: 250px;
    width: 400px;
}
.nav_middle .search-box{
    border: 1px solid #ccc;
    width: 200px;
    border-radius: 25px;
}

.bottom{
    display: inline-block;
    width: 300px;
}.right{
    display: none;
    
}
.tex{
    display: none;
}

}
